<div class="container geral">
  <header class="p-3 header">
      <div class="logo-container">
          <img src="assets/img/logo.png" alt="Ícone do App" class="logo">
          <h1 class="m-0 app-name">{{ appName }}</h1>
      </div>
      
      <button class="logout">Logout</button>
  </header>

  <!--nav class="p-3 menu">
      <a class="btn btn-menu" routerLink="lancamento">Lançamento</a>
      <a class="btn btn-menu" routerLink="home">Compras</a>
      <a class="btn btn-menu" routerLink="carteira">Carteira</a>
  </nav-->
  <!--nav class="navbar navbar-expand-lg navbar-light menu">
      <a class="navbar-brand d-none" href="#">Seu App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="btn btn-menu" routerLink="lancamento">Lançamento</a>
          </li>
          <li class="nav-item">
              <a class="btn btn-menu" routerLink="home">Compras</a>
          </li>
          <li class="nav-item">
              <a class="btn btn-menu" routerLink="carteira">Carteira</a>
          </li>
        </ul>
      </div>
    </nav nav-pills-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary menu">
      <div class="container-fluid">
        <a class="navbar-brand d-none" href="home">Organize-me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="lancamento">Lançamento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="perspectiva">Perspectiva</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Referências
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="carteira">Carteira</a></li>
                <li><a class="dropdown-item" routerLink="carteira">Tipo Pagamento</a></li>
                <!--li><hr class="dropdown-divider"></li-->
                <li><a class="dropdown-item" routerLink="carteira">Tipo Lançamento</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <main>
      <router-outlet></router-outlet>
  </main>
  
  <footer class="pt-3 pb-3 text-center footer">
      <div class="container">
      <p class="m-0">&copy; {{ anoAtual }} {{ appName }}. Todos os direitos reservados.</p>
      </div>
  </footer>
</div>