<div class="container-fluid mt-4">
    <h2 class="mb-4 titulo_tela">Lançamento de Gastos</h2>
  
    <form [formGroup]="lancamentoForm" (ngSubmit)="salvarLancamento()">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3">
          <label for="dataCompra" class="form-label">Data da Compra</label>
          <input id="dataCompra" type="date" class="form-control" formControlName="dataCompra" autocomplete="off" name="dataCompra" placeholder="dd/MM/yyyy">
        </div>
  
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3">
          <label for="dataReferencia" class="form-label">Data Referência</label>
          <input id="dataReferencia" type="date" class="form-control" formControlName="dataReferencia" autocomplete="off" name="dataReferencia" placeholder="dd/MM/yyyy">
        </div>
  
        <div class="ol-12 col-sm-12 col-md-6 col-lg-3 mb-3">
          <label for="tipoPagamento" class="form-label">Tipo de Pagamento</label>
          <select id="tipoPagamento" class="form-select" formControlName="tipoPagamento" autocomplete="off" name="tipoPagamento">
            <option *ngFor="let tipo of tiposPagamento" [value]="tipo.id">{{ tipo.nome }}</option>
          </select>
        </div>
  
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3">
          <label for="categoriaLancamento" class="form-label">Categoria Lançamento</label>
          <select id="categoriaLancamento" class="form-select" formControlName="categoriaLancamento" autocomplete="off" name="tipoCompra">
            <option value="" disabled selected>Selecione uma categoria</option>
            <option *ngFor="let tipo of tiposLancamento" [value]="tipo.id">{{ tipo.nome }}</option>
          </select>
        </div>
  
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3">
            <label for="valorCompra" class="form-label">Valor da Compra</label>
            <div class="input-group">
              <span class="input-group-text">R$</span>
              <input id="valorCompra" type="text" class="form-control" formControlName="valorCompra" autocomplete="off" currencyMask [options]="currencyOptions" name="valorCompra" placeholder="0,00">
            </div>
          </div>
  
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 mb-3">
          <label for="qtdParcelas" class="form-label">Quantidade de Parcelas</label>
          <input id="qtdParcelas" type="number" class="form-control" formControlName="qtdParcelas" autocomplete="off" name="qtdParcelas" min="1" max="360">
        </div>
  
        <div class="ol-12 col-sm-12 col-md-6 col-lg-3 mb-3">
            <label for="valorParcela" class="form-label">Valor da Parcela</label>
            <div class="input-group">
              <span class="input-group-text">R$</span>
              <input id="valorParcela" type="text" class="form-control" [value]="valorParcela | currency:'BRL':'':'1.2-2'" autocomplete="off" name="valorParcela" readonly disabled>
            </div>
          </div>
  
        <div class="mb-3">
          <label for="observacoes" class="form-label">Observações</label>
          <textarea id="observacoes" class="form-control" formControlName="observacoes" autocomplete="off" rows="2" name="observacoes" placeholder="Ex: Compra na loja ..."></textarea>
        </div>
  
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </form>
</div>
